.about__title {
  margin-top: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 200px;
  }
}

.about__list {
  display: grid;
  row-gap: 30px;

  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 55px;

    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 18px;

    padding-left: 175px;
    padding-right: 200px;
  }
}


.about__item {
  padding-top: 53px;

  background-repeat: no-repeat;

  &--ecology {
    background-image: url("../img/icons/flower.svg");
    background-position: 8px 0;
  }

  &--hand-made {
    background-image: url("../img/icons/clew.svg");
    background-position: 3px 3px;

    @media (min-width: $desktop-width) {
      background-position: 7px 3px;
    }
  }

  &--price {
    background-image: url("../img/icons/bill.svg");
  }

  &--support {
    background-image: url("../img/icons/rocket.svg");
    background-position: -2px 4px;
  }

  &--beautiful {
    background-image: url("../img/icons/heart.svg");
    background-position: 8px 6px;
  }

  &--gift {
    background-image: url("../img/icons/gift.svg");
    background-position: 3px 2px;

    @media (min-width: $desktop-width) {
      background-position: 7px 2px;
    }
  }

  &:nth-child(odd) {
    order: -1;
  }

  @media (min-width: $tablet-width) {
    padding-top: 56px;
    padding-right: 25px;

    &:nth-child(odd) {
      order: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(even) {
      padding-left: 5px;
    }
  }
}

.about__text {
  margin: 0;

  line-height: 20px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
