.about__title {
  margin-top: 0;
  margin-bottom: 31px;

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 200px;
  }
}

.about__list {
  display: grid;
  row-gap: 30px;

  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-right: 200px;
  }
}


.about__item {
  padding-top: 53px;

  background-repeat: no-repeat;

  &:nth-child(odd) {
    order: -1;
  }

  @media (min-width: $tablet-width) {
    padding-top: 67px;

    &:nth-child(odd) {
      order: 0;
    }
  }
}

.about__item--ecology {
  background-image: url("../img/icons/flower.svg");
  background-position-x: 8px;
}

.about__item--hand-made {
  background-image: url("../img/icons/clew.svg");
  background-position-x: 3px;
}

.about__item--price {
  background-image: url("../img/icons/bill.svg");
}

.about__item--support {
  background-image: url("../img/icons/rocket.svg");
}

.about__item--beautiful {
  background-image: url("../img/icons/heart.svg");
  background-position-x: 7px;
}

.about__item--gift {
  background-image: url("../img/icons/gift.svg");
  background-position-x: 3px;
}

.about__text {
  margin: 0;

  line-height: 20px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}
