.button {
  padding: 16px 15px 13px;
  border: 2px solid $black-l27;

  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $black-l27;

  background: none;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s ease;

  &:hover,
  &:focus {
    color: $white;
    background-color: $black-l27;
  }

  &:active {
    color: $white-30;
  }

  &--smaller-text {
    padding-bottom: 16px;

    font-size: 17px;
    line-height: 16px;
  }
}
