.categories {
  background-color: $color-gray-980;
}

.categories__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 490px;
  padding-top: 111px;

  background-image: url("../img/toys-in-house.jpg");
  background-position: 50% -15px;
  background-repeat: no-repeat;
  background-size: contain;
}

.categories__heading {
  margin: 0;
  padding: 0 30px;

  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 371px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 357px;
    padding: 0 120px;
    font-size: 53px;
    line-height: 57px;
  }
}

.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.categories__link {
  display: block;
  height: 100%;
  padding-top: 24px;
  padding-right: 120px;
  padding-left: 31px;
  padding-bottom: 30px;

  font-size: 19px;
  font-weight: 700;
  color: $color-white;

  &--interior {
    background-color: $color-emerald;
  }

  &--toy {
    background-color: $color-emerald-darken;
  }

  @media (min-width: $tablet-width) {
    padding-right: 150px;
    padding-top: 26px;
    padding-left: 36px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 320px;
  }
}
