.categories {
  position: relative;
  background-color: $color-gray-980;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -12px;

      height: 24px;
      width: 100%;

      background-image: url("../img/icons/zigzag-cut.svg");
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: -17px;
      height: 34px;
    }
  }
}

.categories__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 72px;
  min-height: 490px;

  background-image: url("../img/background/toys-in-house@1x.jpg");
  background-position: 50% -15px;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/toys-in-house@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 102px;

    background-image: url("../img/background/toys-in-house-tablet@1x.jpg");
    background-position: 50% -54px;
    background-size: auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/toys-in-house-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background/toys-in-house-desktop@1x.jpg");
    background-position: 50% -44px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/toys-in-house-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 114px;
  }
}

.categories__heading {
  margin-top: 0;
  margin-bottom: 121px;
  padding: 0 30px;

  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 371px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 357px;
    padding: 0 120px;
    font-size: 53px;
    line-height: 57px;
  }
}

.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.categories__link {
  display: block;
  height: 100%;
  padding-top: 24px;
  padding-right: 120px;
  padding-left: 31px;
  padding-bottom: 30px;

  font-size: 19px;
  font-weight: 700;
  color: $color-white;
  background-repeat: no-repeat;

  &--interior {
    background-color: $color-emerald;
    background-image: url("../img/icons/interior.svg");
    background-position: calc(100% - 36px) 50%;
  }

  &--toy {
    background-color: $color-emerald-darken;
    background-image: url("../img/icons/toy.svg");
    background-position: calc(100% - 27px) 50%;

    @media (min-width: $tablet-width) {
      background-position: calc(100% - 33px) 50%;
    }

    @media (min-width: $desktop-width) {
      background-position: calc(100% - 35px) 50%;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-right: 150px;
    padding-bottom: 33px;
    padding-left: 36px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 320px;
  }
}
