.categories {
  position: relative;
  background-color: $color-gray-980;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -12px;

      height: 24px;
      width: 100%;

      background-image: url("../img/icons/zigzag-cut.svg");
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: -17px;
      height: 34px;
    }
  }
}

.categories__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 72px;

  background-image: url("../img/background/toys-in-house@1x.jpg");
  background-position: 50% -15px;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/toys-in-house@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 102px;

    background-image: url("../img/background/toys-in-house-tablet@1x.jpg");
    background-position: 50% -54px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/toys-in-house-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background/toys-in-house-desktop@1x.jpg");
    background-position: 50% -44px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/toys-in-house-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 114px;
  }
}

.categories__heading {
  margin-top: 0;
  margin-bottom: 121px;
  padding: 0 30px;

  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 371px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 357px;
    padding: 0 120px;
    font-size: 53px;
    line-height: 57px;
  }
}

.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.categories__link {
  position: relative;
  display: block;
  height: 100%;
  padding-top: 24px;
  padding-right: 120px;
  padding-left: 31px;
  padding-bottom: 30px;

  font-size: 19px;
  font-weight: 700;
  color: $color-white;
  background-repeat: no-repeat;
  outline-offset: 6px;

  transition: background 0.2s ease;

  &::before {
    content: "";
    position: absolute;

    transition: top 0.2s ease;
  }

  &::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: calc(100% - 5px);

    width: 100%;
    height: 5px;

    background-color: inherit;

    transition: bottom 0.2s ease;
  }

  &:focus,
  &:hover {
    .categories__link-text {
      position: relative;
      top: -5px;
    }

    &::after {
      bottom: 100%;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-right: 150px;
    padding-bottom: 33px;
    padding-left: 36px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 320px;
  }
}

.categories__link--interior {
  background-color: $color-emerald;

  &::before {
    top: calc(50% - 30px);
    right: 36px;

    height: 60px;
    width: 40px;

    background-image: url("../img/icons/interior.svg");
  }

  &:focus,
  &:hover {
    &::before {
      top: calc(50% - 35px);
    }
  }
}

.categories__link--toy {
  background-color: $color-emerald-darken;

  &::before {
    top: calc(50% - 30px);
    right: 27px;

    height: 60px;
    width: 60px;

    background-image: url("../img/icons/toy.svg");

    @media (min-width: $tablet-width) {
      right: 33px;
    }

    @media (min-width: $desktop-width) {
      right: 35px;
    }
  }

  &:focus,
  &:hover {
    background-color: $color-emerald-darken-richer;

    &::before {
      top: calc(50% - 35px);
    }
  }
}

.categories__link-text {
  top: 0;
  transition: top 0.2s ease;
}
