.checkbox__text {
  position: relative;
  display: block;

  min-height: 38px;
  padding: 10px 0 0 59px;

  line-height: 18px;
  font-weight: 700;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;

    left: 0;
    top: 0;

    width: 38px;
    height: 38px;
    border: 2px solid $black-l27;

    background-color: transparent;
    transition: border-color 0.3s ease, opacity 0.3s;
  }

  &:hover {
    &::before {
      border-color: $emerald;
    }
  }

  &:active {
    &::before {
      border-color: $black;
      opacity: 0.3;
    }
  }
}

.checkbox__input {
  &:checked + .checkbox__text {
    &::after {
      content: "";
      position: absolute;

      left: 0;
      top: 0;

      width: 38px;
      height: 38px;

      background: url("../../img/icons/check-mark.svg") 50% 50% no-repeat;
    }
  }

  &:focus + .checkbox__text {
    &::before {
      outline: 2px solid $black;
    }
  }
}
