.color-list {
  padding: 0;
  padding-top: 13px;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.color-list__item {
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}
