.color-list {
  padding: 0;
  padding-top: 13px;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 22px;
    row-gap: 23px;

    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 37px;
    padding-right: 123px;
  }
}

.color-list__item {
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
