.contacts-list {
  padding: 0;
  padding-top: 4px;

  list-style: none;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.contacts-list__item {
  margin-bottom: 34px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}
