.copyright {
  padding: 10px 39px 22px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}
