.copyright {
  padding-top: 22px;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $color-emerald;

  &:focus,
  &:hover {
    color: $color-emerald-darken;
  }

  &:active {
    color: rgba($color-emerald-darken, 0.3);
  }
}

.copyright__text {
  margin: 0;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: $color-black;

  @media (min-width: $tablet-width) {
    margin-right: 30px;
  }
}
