.form {
  padding-top: 17px;
  padding-bottom: 55px;
}

.form__text {
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 13px;
  color: $color-gray-270;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 174px;
    padding-right: 174px;
  }
}

.form__field-group,
.form__field-contacts {
  margin: 0;
  margin-bottom: 31px;

  &--textarea {
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__footer {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-right: 225px;
    padding-left: 225px;
  }
}

.form__clue {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 16px;

  color: $color-gray-270;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
    order: 1;
  }
}
