.info-list {
  padding: 0;
  padding-top: 21px;

  list-style: none;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.info-list__item {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}
