.input-contact {
  display: flex;
  flex-direction: column;
}

.input-contact__input {
  padding: 17px 0;
  border: none;
  border-bottom: 2px solid $black;

  &::placeholder {
    color: $black;
    opacity: 0.3;
  }
}

.input-contact__label {
  $line: calc(100% - 58px);

  position: relative;

  margin-bottom: 2px;
  width: 100%;
  padding-right: $line;

  line-height: 16px;
  font-weight: 700;
  color: $emerald;
  text-transform: uppercase;

  order: -1;

  &::after {
    content: "";
    position: absolute;

    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: $line;
    height: 1px;

    background-color: $emerald;
  }

  &--email {
    padding-right: calc(#{$line} - 20px);

    &::after {
      width: calc(#{$line} - 20px);
    }
  }
}
