.input-contact {
  position: relative;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 25% 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.input-contact__input {
  padding-top: 17px;
  padding-bottom: 17px;
  border: none;
  border-bottom: 2px solid $color-black;

  background-color: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: $color-black;
    opacity: 0.3;
  }

  &:hover {
    border-color: $color-emerald;
  }

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    padding-bottom: 15px;
    padding-right: 16px;
    padding-left: 16px;

    font-size: 19px;
  }
}

.input-contact__label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 25px;

  margin-bottom: 2px;
  width: 100%;

  line-height: 16px;
  font-weight: 700;
  color: $color-emerald;
  text-transform: uppercase;

  order: -1;

  &::after {
    position: static;
    content: "";
    display: block;
    flex-grow: 1;

    height: 1px;

    background-color: $color-emerald;
  }

  @media (min-width: $tablet-width) {
    padding-top: 15px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 62px;
  }
}

.input-contact__input-icon {
  position: absolute;
  right: 5px;
  bottom: 17px;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    right: 26px;
  }
}

.input-contact__input-path {
  fill: rgba($color-black, 0.2);

  transition: fill 0.2s;
}

.input-contact__input:hover ~ .input-contact__input-icon .input-contact__input-path,
.input-contact__input:focus ~ .input-contact__input-icon .input-contact__input-path,
.input-contact__input:active ~ .input-contact__input-icon .input-contact__input-path {
  fill: $color-emerald;
}
