.logo__icon {
  width: 86px;
  height: 35px;

  @media (min-width: $tablet-width) {
    height: 46px;
    width: 113px;
  }

  @media (min-width: $desktop-width) {
    height: 72px;
    width: 149px;
  }
}

.logo__footer-icon {
  width: 101px;
  height: 34px;
}
