.main__header {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 150px;
  }
}

.main__product {
  margin-bottom: 31px;


  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.main__production {
  margin-bottom: 58px;

  @media (min-width: $desktop-width) {
    margin-bottom: 104px;
  }
}

.main__categories {
  margin-bottom: 55px;

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.main__popular-product {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.main__about {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 83px;
  }
}

.main__reviews {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.main__contacts {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.main__header-form {
  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 124px;
  }
}
