.main-header {
  position: relative;
  background-color: $color-gray-950;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -12px;

      height: 24px;
      width: 100%;

      background-image: url("../img/icons/zigzag-cut.svg");
      background-repeat: repeat-x;
      background-size: contain;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: -17px;
      height: 34px;
    }
  }
}

.main-header__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 73px;
  padding-bottom: 73px;

  text-align: center;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 47px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    font-size: 53px;
    line-height: 57px;
  }
}
