$modal-width: 566px;

.modal-basket {
  background-color: rgba($color-white, 0.9);

  &--visible {
    display: block;
    z-index: 10;
  }

  &--hidden {
    display: none;
  }
}

.modal-basket__container {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;
  height: max-content;
  width: 100%;
  max-width: $modal-width;
  padding-top: 28px;
  padding-right: 25px;
  padding-bottom: 46px;
  padding-left: 25px;
  border: 1px solid $color-gray-780;

  background-color: $color-white;
  box-shadow: 0 5px 10px $color-modal-shadow;

  @media (min-width: $modal-width) {
    padding-right: 105px;
    padding-left: 105px;
  }
}

.modal-basket__title {
  margin-top: 0;
  margin-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $modal-width) {
    padding: 0;

    font-size: 30px;
    line-height: 57px;
  }
}


.modal-basket__form {
  display: flex;
  flex-direction: column;
}

.modal-basket__field {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  border: none;

  text-align: center;
}

.modal-basket__choice {
  margin-bottom: 22px;

  font-size: 15px;
  line-height: 30px;
  color: $color-gray-270;
}

.modal-basket__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.modal-basket__item {
  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 5px;
  flex-grow: 1;
}

.modal-basket__size {
  display: block;

  min-width: 82px;
  padding: 12px 0;
  border: 2px solid rgba($color-gray-270, 0.1);

  cursor: pointer;

  transition: border-color 0.3s ease;

  &:hover {
    border-color: $color-black;
  }
}

.modal-basket__radio {
  &:checked ~ .modal-basket__size {
    border: 2px solid $color-emerald;
  }

  &:focus ~ .modal-basket__size {
    outline: 2px solid $color-black;
  }
}

.modal-basket__button {
  margin-right: 3px;
  margin-left: 3px;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 2px solid $color-emerald;

  text-align: center;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;

  color: $color-white;
  background-color: $color-emerald;

  cursor: pointer;
  transition: color 0.2s, background-color 0.3s ease, border-color 0.3s ease;

  &:hover,
  &:focus {
    color: $color-emerald;
    background-color: $color-white;
  }

  &:active {
    border-color: rgba($color-emerald, 0.3);
    color: rgba($color-emerald, 0.3);
  }
}
