.navigation {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  padding: 22px 0 21px;
}

.navigation__link-logo {
  grid-column: 2 / 3;
  justify-self: center;
}

.navigation__button-icon {
  position: relative;
  width: 20px;
  height: 14px;
  margin-left: auto;
  padding: 0;
  border: none;

  background-color: transparent;
  cursor: pointer;
}

.navigation__menu {
  position: absolute;

  top: 100%;
  left: -30px;
  width: calc(100% + 60px);

  background-color: $white;

  &--hidden {
    display: none;
  }

  &--vissible {
    display: block;
  }
}

.navigation__list {
  margin: 0;
}
