.page-footer {
  background-color: $color-gray-950;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 58px;
  }
}

.page-footer__link-logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-left: 4px;
  }
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
