.page-header {
  padding: 0 30px;
  border-bottom: 1px solid $color-gray-930;

  background-color: $color-white;

  &--nojs {
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
    background-image:
      linear-gradient(to bottom,
      $color-white 89px,
      $color-gray-930 89px,
      $color-gray-930 90px,
      $color-gray-950 90px);
  }

  @media (min-width: $desktop-width) {
    background-image:
      linear-gradient(to top,
      $color-gray-950 42px,
      $color-gray-930 42px,
      $color-gray-930 43px,
      $color-white 43px);
  }

  &--index {
    @media (min-width: $tablet-width) {
      background-image:
        linear-gradient(to bottom,
        $color-white 89px,
        $color-gray-930 89px,
        $color-gray-930 90px,
        $color-gray-980 90px);
    }

    @media (min-width: $desktop-width) {
      background-image:
        linear-gradient(to top,
        $color-gray-980 42px,
        $color-gray-930 42px,
        $color-gray-930 43px,
        $color-white 43px);
    }
  }
}
