.page-footer {
  padding: 0 30px;
  background-color: $color-gray-950;
}

.page-footer__link-logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-footer__link-logo {
    display: block;
  }
}
