.popular-product__container {
  display: grid;
  padding-bottom: 42px;

  background-image: url("../img/icons/zigzag.svg");
  background-position: 0 100%;
  background-repeat: repeat-x;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 50%;
    grid-template-areas:
      "header  header"
      "info    img"
      "price   img"
      "button  img";
    column-gap: 42px;

    padding-bottom: 69px;

    background-size: auto 17px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 118px 1fr 50%;
    grid-auto-rows: max-content;
    grid-template-areas:
      "header  header  header-img"
      ".       info    img"
      ".       price   img"
      ".       button  img";
    column-gap: 58px;

    padding-bottom: 96px;

    background-size: 80% 23px;
  }
}

.popular-product__header {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 100px;
    grid-area: header;
    align-items: center;

    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 132px 1fr;
    column-gap: 42px;
    grid-area: 1/1/2/-1;

    margin-bottom: 33px;
    padding-top: 72px;

    z-index: 2;
  }
}

.popular-product__title {
  margin: 0;
  margin-bottom: 17px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-emerald;

  @media (min-width: $tablet-width) {
    height: 100%;
    width: 100px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-right: 25px;

    line-height: 17px;
    text-align: center;
    word-break: break-word;
  }

  @media (min-width: $tablet-width) {
    justify-self: end;
    padding-top: 8px;
    padding-right: 0;
  }
}

.popular-product__name {
  margin: 0;
  margin-bottom: 3px;

  order: -1;

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.popular-product__info {
  @media (min-width: $tablet-width) {
    grid-area: info;
  }
}

.popular-product__description {
  margin: 0;
  margin-bottom: 14px;

  font-size: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;

    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.popular-product__table {
  margin-bottom: 35px;

  text-align: left;
  font-size: 15px;
  line-height: 20px;

  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 117px;
  }
}

.popular-product__row {
  border-bottom: $color-gray-930 1px solid;
}

.popular-product__characteristic {
  padding: 13px 0 6px;
  font-weight: 400;
}

.popular-product__value {
  padding-left: 17px;
  padding-top: 9px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.popular-product__picture {
  display: contents;
}

.popular-product__image {
  align-self: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    grid-area: img;
    align-self: auto;

    width: 334px;
    height: 414px;
    margin-bottom: 0;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1/-2/-1/-1;
    width: 525px;
    height: 636px;
    margin-top: 10px;
    padding-top: 0;
  }
}

.popular-product__price {
  align-self: center;

  margin-bottom: 24px;

  font-weight: 700;
  text-align: center;

  color: $color-gray-270;

  @media (min-width: $tablet-width) {
    grid-area: price;
    margin-bottom: 31px;
    font-size: 20px;
  }
}

.popular-product__button {
  @media (min-width: $tablet-width) {
    grid-area: button;
  }
}
