.product__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
  }
}

.product__item {
  display: grid;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 334px 1fr;
    min-height: 334px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto;
    grid-template-rows: 462px auto;

    margin-bottom: 0;
  }
}

.product__info {
  padding-top: 27px;
  padding-right: 28px;
  padding-bottom: 26px;
  padding-left: 28px;
  border: 1px solid $color-gray-930;

  order: 1;
  transition: box-shadow 0.3s ease;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: max-content 1fr max-content;

    padding-right: 31px;
    padding-left: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
    padding-bottom: 21px;
  }
}

.product__item:hover .product__info {
  @media (min-width: $tablet-width) {
    box-shadow: 0 6px 10px rgba($color-black, 0.1);
  }
}

.product__item:active .product__info {
  @media (min-width: $tablet-width) {
    box-shadow: 0 3px 5px rgba($color-black, 0.1);
  }
}


.product__name {
  margin-top: 0;
  margin-bottom: 6px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 600px) {
    font-size: 20px;
  }
}

.product__name-link:focus {
  .product__name {
    opacity: 0.6;
  }
}

.product__characteristic {
  margin-top: 0;
  margin-bottom: 22px;
  padding-bottom: 17px;
  border-bottom: 1px solid $color-gray-930;

  font-size: 13px;
  line-height: 30px;

  color: $color-gray-270;

  @media (min-width: 600px) {
    font-size: 15px;
  }
}

.product__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: 0;

  font-size: 15px;
  font-weight: 700;

  @media (min-width: 600px) {
    font-size: 17px;
  }
}

.product__button-basket {
  padding: 0;
  border: none;

  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    .product__basket-path {
      fill: $color-emerald;
    }
  }

  &:active {
    .product__basket-path {
      fill: rgba($color-emerald, 0.3);
    }
  }
}

.product__basket-path {
  fill: rgba($color-black, 0.2);
  transition: fill 0.2s ease;
}

.product__image {
  width: 100%;
  height: 100%;
}
