.textarea {
  display: grid;

  padding-top: 4px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 25% 1fr;

    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 115px 1fr;

    padding-top: 0;
  }
}

.textarea__field {
  padding-top: 15px;
  padding-right: 17px;
  padding-bottom: 15px;
  padding-left: 17px;
  border: 2px solid $color-gray-270;

  line-height: 18px;
  resize: none;

  transition: border-color 0.2s;

  &::placeholder {
    color: $color-black;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: $color-emerald;
  }

  @media (min-width: $tablet-width) {
    padding: 15px;

    font-size: 19px;
  }
}

.textarea__heading {
  position: relative;

  margin-bottom: 22px;
  width: 100%;

  line-height: 16px;
  font-weight: 700;
  color: $color-emerald;
  text-transform: uppercase;

  order: -1;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
  }
}
