.type-list {
  padding: 0;
  padding-top: 20px;

  list-style: none;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.type-list__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}
