.user-list {
  padding: 0;
  background-color: $color-white;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.user-list__link {
  display: block;

  width: 100%;
  padding: 28px 10px 26px 76px;

  font-weight: 700;
  color: $color-black;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
  }
}
