.video {
  display: grid;

  @media (min-width: $desktop-width) {
    grid-template-columns: 65% 1fr;
    grid-template-areas:
      "player  title"
      "player  info";
  }
}

.video__contents {
  @media (max-width: $tablet-width) {
    display: contents;
  }

  @media (min-width: $desktop-width) {
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 6px 6px rgba($color-black, 0.1);
    }

    &:active {
      box-shadow: 0 3px 3px rgba($color-black, 0.1);
    }
  }
}

.video__title {
  margin: 0;
  padding-top: 21px;
  padding-right: 13px;
  padding-bottom: 26px;
  padding-left: 91px;
  border: 1px solid $color-gray-930;
  border-bottom: none;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  background-image: url("../img/icons/camera.svg");
  background-repeat: no-repeat;
  background-position: 34px 21px;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-bottom: 21px;
    padding-left: 106px;

    font-size: 20px;

    background-position: 42px 41px;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;

    padding-top: 96px;
    padding-left: 79px;
    padding-right: 100px;
    padding-bottom: 18px;

    background-position: 79px 47px;
  }
}

.video__player {
  position: relative;

  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    grid-area: player;
  }
}

.video__image {
  width: 100%;
  height: auto;


  @media (min-width: $tablet-width) {
    height: 455px;
  }
}

.video__button {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 77px;
  border: 6px solid $color-white;
  border-radius: 22px;

  background-color: $color-emerald;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.3s;

  &::after {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);

    border-left: 30px solid $color-white;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
  }

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.video__info {
  padding-top: 36px;
  padding-right: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  border: 1px solid $color-gray-930;
  border-top: none;

  order: 1;

  @media (min-width: $tablet-width) {
    padding-top: 4px;
    padding-right: 41px;
    padding-bottom: 47px;
    padding-left: 41px;
  }

  @media (min-width: $desktop-width) {
    grid-area: info;

    padding-top: 10px;
    padding-right: 56px;
    padding-bottom: 59px;
    padding-left: 79px;
  }
}

.video__description {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 13px;
  color: $color-gray-270;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;

    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.video__submit {
  display: block;

  line-height: 16px;
}
