$white: hsl(0, 0%, 100%);
$white-l78: hsl(0, 0%, 78%);
$white-l90: hsl(0, 0%, 90%);
$white-l93: hsl(0, 0%, 93%);
$white-l95: hsl(0, 0%, 95%);
$white-l98: hsl(0, 0%, 98%);
$darken: hsl(345, 6%, 13%);
$black: hsl(0, 0%, 0%);
$black-l27: hsl(0, 0%, 27%);
$emerald: hsl(168, 54%, 60%);
$emerald-darken: hsl(171, 48%, 55%);

$white-30: hsla(0, 0%, 100%, 0.3);
$white-90: hsla(0, 0%, 100%, 0.9);
$black-l27-10: hsla(0, 0%, 27%, 0.1);
$emerald-30: hsla(168, 54%, 60%, 0.3);

$modal-shadow: hsla(180, 100%, 0%, 0.25);
